@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
    --main-color: #FF6D28;
}

html {
    scroll-behavior: smooth;
}

body {
    /* user-select: none; */
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
    margin: auto;
}

/* start settings box */
.settings-box {
    width: 170px;
    background-color: #eee;
    position: fixed;
    left: -170px;
    top: 0;
    z-index: 5;
    min-height: 100vh;
    transition: .4s;
}

.settings-box.open {
    left: 0;
    border: 2px solid #eee;
}

.settings-box .rotatei {
    position: absolute;
    right: -40px;
    top: 80px;
    color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #eee;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.settings-box .rotatei .fa-solid {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.settings-box .rotatei .fa-solid:hover {
    animation-play-state: paused;
}

/* start nav bullets */
.nav-bullets {
    position: fixed;
    right: 0;
    top: 52%;
    width: 40px;
    z-index: 50;
    transform: translateY(-50%);
}

.nav-bullets .bullets {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 7px auto;
    cursor: pointer;
    position: relative;
    border: 4px solid var(--main-color);
}

.nav-bullets .bullets .tooltip {
    position: absolute;
    width: 100px;
    padding: 3px 6px;
    color: white;
    border-radius: 2px;
    right: 36px;
    text-align: center;
    top: -4px;
    cursor: default;
    transition: display .5s;
    pointer-events: none;
    background-color: var(--main-color);
    display: none;
}

.nav-bullets .bullets:hover .tooltip {
    display: block;
}

.nav-bullets .bullets .tooltip::before {
    content: '';
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent transparent var(--main-color);
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width : 767px) {
    .nav-bullets .bullets {
        display: none;
    }
}
/* end nav bullets */

@keyframes rotate {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(1turn);
    }
}

.option-box {
    padding: 15px;
    background: #ddd;
    text-align: center;
    margin: 6px;
}

.option-box h4 {
    margin: 0;
    font-size: 12px;
    color: #666;
}

.option-box .yes,
.option-box .no {
    background: #00ABB3;
    color: white;
    width: 40px;
    font-size: 12px;
    padding: 4px;
    margin: 10px 0 5px;
    border-radius: 2px;
    display: inline-block;
    cursor: pointer;
    opacity: .4;
}

.option-box span.active {
    opacity: 1;
}

.option-box .colors-list {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 10px 0 5px;
}

.option-box .colors-list li {
    margin-top: 5px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
    opacity: .4;
    display: inline-block;
}

.option-box .colors-list li:first-child {
    background-color: #FF6D28;
}

.option-box .colors-list li:nth-child(2) {
    background: #9A1663;
}

.option-box .colors-list li:nth-child(3) {
    background: #395144;
}

.option-box .colors-list li:nth-child(4) {
    background-color: #7DE5ED;
}

.option-box .colors-list li:last-child {
    background: #FCE700;
}

.option-box .colors-list li.active {
    opacity: 1;
}

.reset-option {
    padding: 0.9em 1.6em;
    border: none;
    outline: none;
    color: #666;
    width: 160px;
    margin: 5px auto;
    display: block;
    font-family: inherit;
    font-weight: 500;
    font-size: 12px;
    /* margin: 15px 0 0 26px; */
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 12px;
}
.reset-option::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ddd;
    left: 0;
    top: 0;
    border-radius: 10px;
}
/* glow */
.reset-option::before {
    content: "";
    background: linear-gradient(45deg,
            #FF6D28, #ff3363, #395144, #7DE5ED, #FCE700,
            #FF6D28, #ff3363, #395144, #7DE5ED, #FCE700);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}
@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}
/* hover */
.reset-option:hover::before {
    opacity: 1;
}
.reset-option:active:after {
    background: transparent;
}
.reset-option:active {
    color: #000;
    font-weight: bold;
}
/* end settings box */

/* start landing page */
.landing-page {
    min-height: 100vh;
    background-image: url(../images/02.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.landing-page .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.header {
    position: relative;
    z-index: 2;
    color: white;
    display: flex;
    padding: 10px;
}

.header .logo {
    padding: 10px;
    width: 400px;
    font-weight: bold;
    font-size: 22px;
    transition: 1.5s;
}

.header .mar {
    margin-left: 130px;
}

.header .logo span {
    color: var(--main-color);
}

.header ul {
    list-style: none;
    text-align: right;
    font-size: 13px
}

.header ul li {
    display: inline-block;
    margin-right: 12px;
}

.header ul li a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
}

.header ul li a:hover,
.header ul li a.active {
    color: var(--main-color);
}
.header .toggle-menu {
    width: 35px;
    background: none;
    margin-top: 16px;
    border: none;
    cursor: pointer;
    display: none;
    position: relative;
}
.header .toggle-menu.menu-avtive:before {
    content: '';
    position: absolute;
    bottom: -12px;
    right: 8px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent white transparent;
}
.header .links-container {
    text-align: right;
}
.header .toggle-menu span{
    display: block;
    background: white;
    height: 3px;
    margin-bottom: 3px;
}
.intro {
    position: absolute;
    top: 52%;
    left: 50%;
    width: 94%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
    z-index: 2;
    text-align: center;
    /* line-height: 1.6; */
}

.intro h1 {
    font-size: 35px;
    margin: 0 0 25px;
}

.intro h1 span {
    color: var(--main-color);
}

.intro p {
    margin: 0;
    line-height: 1.7;
}

@media (max-width : 767px) {
    .header ul {
        display: none;
    }
    .header ul.open  {
        background: white;
        padding: 10px 0;
        display: block;
        position: absolute;
        right: 0;
        border-radius: 5px;
        top: 45px;
        width: 60%;
        text-align: left;
    }
    .header ul.open li a{
        color: var(--main-color);
        font-weight: bold;
    }
    .header ul.open li a:hover{
        color: black;
    }
    .header ul.open li {
        display: block;
        margin: 10px;
    }
    .header .toggle-menu {
        display: inline-block;
    }
    .about-us {
        display: flex;
        width: 90%;
        flex-direction: column;
    }
    .about-us .image-box {
        margin: 0 auto;
    }

}
/* end landing page */

/* start about us */
.about-us {
    padding: 50px 0;
    display: flex;
    /* justify-content: space-between; */
}

.about-us .info-box {
    flex: 1;
}

.about-us .info-box h2 {
    font-weight: bold;
    font-size: 32px;
    color: var(--main-color);
}

.about-us .info-box p {
    line-height: 1.7;
    /* width: 700px; */
    color: #7777777d;
    margin: 0;
}

.about-us .image-box {
    text-align: right;
    flex: 1;
}

.about-us .image-box img {
    width: 350px;
}

/* end about us */

/* start skills */
.skills {
    padding: 50px 0;
    background-color: #eee;
}

.skills h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: var(--main-color);
    margin: 0 0 30px;
}

.skills .skill-box {
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.skills .skill-box .skill-name {
    width: 130px;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
}

.skills .skill-box .skill-progress {
    background-color: #3333330d;
    width: 70%;
    /* text-align: center; */
    height: 20px;
    margin: 0;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.skills .skill-box .skill-progress span {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    transition: 2s;
}

.skills .skill-box .skill-progress span::before {
    content: attr(data-progress);
    position: absolute;
    width: 40px;
    color: white;
    z-index: 100;
    height: 20px;
    font-size: 15px;
    right: -15px;
    top: 0;
    text-align: center;
    border-radius: 6px;
    background-color: black;
}
@media (max-width : 575px) {
    .skills .skill-box {
        display: block;
    }
    .skills .skill-box .skill-name {
        width: 100%;
        margin-bottom: 15px;
    }
    .skills .skill-box .skill-progress  {
        width: 100%;
    }
}
/* end skills */

/* start gallery */
.gallery {
    padding: 50px 0;
    text-align: center;
}

.gallery h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    color: var(--main-color);
    margin: 0 0 30px;
}

.gallery .images-box {
    text-align: center;
}

.gallery .images-box img {
    width: 210px;
    height: 120px;
    padding: 3px;
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    cursor: pointer;
}
@media (max-width : 767px) {
    .gallery .images-box img {
        width: 250px;
    }
}
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.popup-box {
    position: fixed;
    left: 50%;
    width: 500px;
    height: auto;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1008;
}

.popup-box img {
    width: 100%;
    max-height: 100%;
}

.popup-box h3 {
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 10px;
}
.popup-box span.close-btn {
    background-color:var(--main-color);
    cursor: pointer;
    width: 25px;
    height: 25px;
    color: white;
    line-height: 25px;
    text-align: center;
    top: -14px;
    position: absolute;
    border-radius: 50%;
}
.close-reset-option {
    position: absolute;
    z-index: 1200;
    right: -15px;
    top: -15px;
    text-align: center;
    width: 30px;
    background: var(--main-color);
    color: white;
    border-radius: 50%;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* end gallery */

/* start timeline */
.timeline {
    padding: 50px 0;
    background: #eee;
}

.timeline .timeline-content {
    position: relative;
    /* overflow: hidden; */
    padding: 10px;
}

.timeline .timeline-content::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: var(--main-color);
    left: 50%;
    top: 0;
}

.timeline .timeline-content .year {
    margin: 20px auto;
    width: 50px;
    background-color: var(--main-color);
    padding: 2px 4px;
    border-radius: 8px;
    text-align: center;
    color: white;
    font-weight: bold;
}

.timeline .timeline-content .left,
.timeline .timeline-content .right {
    width: calc(50% - 100px);
    margin-bottom: 40px;
    position: relative;
    margin: 10px 40px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline .timeline-content .left {
    float: left;
}

.clear-fix {
    clear: both;
}

.timeline .timeline-content .left::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: white;
    border: 3px solid var(--main-color);
    position: absolute;
    border-radius: 50%;
    top: 25px;
    right: -71px;
}

.timeline .timeline-content .right {
    float: right;
}

.timeline .timeline-content .right::before {
    content: '';
    background-color: white;
    width: 15px;
    height: 15px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 25px;
    left: -70px;
}

.timeline .timeline-content .content {
    padding: 20px;
    background-color: white;
    border-radius: 6px;
}

.timeline .timeline-content .content h3 {
    margin: 0 0 10px;
    color: var(--main-color);
}

.timeline .timeline-content .content p {
    color: #666;
    /* margin: 0; */
    line-height: 1.5;
}

.timeline .timeline-content .left .content::before {
    content: '';
    border-style: solid;
    border-width: 15px;
    border-color: transparent transparent transparent white;
    position: absolute;
    right: -30px;
    top: 25px;
}

.timeline .timeline-content .right .content::before {
    content: '';
    position: absolute;
    border-width: 15px;
    border-style: solid;
    border-color: transparent white transparent transparent;
    top: 25px;
    left: -30px;
}
@media (max-width : 767px) {
    .timeline .timeline-content .left,
    .timeline .timeline-content .right  {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline .timeline-content .right .content::before, 
    .timeline .timeline-content .left .content::before {
        display: none;
    }
    .timeline .timeline-content .right::before,
    .timeline .timeline-content .left::before {
        display: none;
    }
}

/* start features */
.features {
    padding: 50px 80px;
    background: radial-gradient(#fff, #ffd6d6);
}
.features .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.features h2 {
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 30px;
    font-size: 32px;
}
.features .feat-box {
    width: calc(100%  / 3);
    text-align: center;
    margin-bottom: 40px;
}
@media (max-width : 767px) {
    .features .feat-box {
        width: calc(100% /2);
    }
}
@media (max-width : 575px) {
    .features .feat-box {
        width: 100%;
    }
}
.features .feat-box img {
    width: 80px;
}
.features .feat-box h4 {
    margin: 10px 0 30px;
    font-size: 18px;
    position: relative;
}

.features .feat-box h4::before {
    content: '';
    background-color: var(--main-color);
    width: 50px;
    height: 4px;
    left: 50%;
    margin-left: -25px;
    /* margin: 0; */
    bottom: -15px;
    position: absolute;
}

.features .feat-box p {
    text-align: center;
    width: 90%;
    font-size: 13px;
    line-height: 1.5;
    color: #666;
    margin: 0 auto;
}

/* start testimonials */
.testimonials {
    padding: 80px 0;
    min-height: 500px;
    position: relative;
}
.testimonials::before {
    content: '';
    position: absolute;
    top: 0;
    background: var(--main-color);
    left: 0;
    width: 50%;
    height: 100%;
}
.testimonials:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}
.testimonials h2 {
    color: white;
    font-size: 32px;
    position: relative;
    z-index: 2;
    transition: .5s;
    margin: 0 0 30px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}
.testimonials .test-app {
    display: flex;
}
.testimonials .testi-box {
    position: relative;
    background: radial-gradient(rgb(212, 200, 200), white);
    padding: 15px;
    z-index: 2;
    font-size: 22px;
    margin-right: 1%;
    width: calc(97% / 3);
    border-radius: 3px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    text-transform: capitalize;
}
@media (max-width : 991px) {
    .testimonials .test-app {
        display: block;
        margin-right: 10px;
        position: relative;
    }
    .testimonials .testi-box {
        width: 94%;
        margin-bottom: 10px;
        /* position: absolute;
        left: 50%;
        transform: translateX(-50%); */
    }
}
.testi-box>p {
    font-size: 15px;
    line-height: 1.5;
    color: #666;
    font-style: italic;
}
.testi-box .person-info {
    margin: 0 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.testi-box .person-info i {
    font-size: 40px;
    color: #c0392b;
    /* fallback for old browsers */
    color: -webkit-linear-gradient(to right, #8e44ad, #c0392b);
    /* Chrome 10-25, Safari 5.1-6 */
    color: linear-gradient(to right, #8e44ad, #c0392b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.testi-box .person-info h4 {
    color: #AAAAAA;
    margin: 8px 0 10px;
}

.testi-box .person-info p {
    font-size: 18px;
    margin: 0 0 15px;
}
/* end testimonials */

/* start cotact us */
.contact {
    padding: 60px 0;
    min-height: 400px;
    position: relative;
    user-select: none;
    background-image: url(../images/World_map_blank_without_borders.svg.png);
}
.contact h2 {
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
    margin: 0 0 30px;
    font-size: 32px;
}
.contact .container {
    position: relative;
    z-index: 100;
}
.contact .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .7);
    width: 100%;
    height: 100%;
}
.contact form {
    max-width: 800px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.contact form .left,
.contact form .right {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 47%;
}
@media (max-width : 557px) {
    .contact form {
        display: block;
    }
    .contact form .left,
    .contact form .right {
        width: 100%;
    }
    .contact form .left {
        margin-bottom: 15px;
    }
}
.contact form input,
.contact form textarea{
    padding: 12px;
    background-color: #eee;
    border-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
}
.contact form textarea {
    height: 138px;
}
.contact form input[type = 'submit'] {
    color: white;
    background-color: var(--main-color);
    border: none;
}
.contact form input:not([type = 'submit']),
.contact form textarea:focus {
    outline-color: var(--main-color);
}
.contact form input:not([type = 'submit']):focus::placeholder,
.contact form textarea:focus::placeholder {
    opacity: 0;
    transition: .6s;
}
/* .contact form .left {
    float: left;
    width: 46%;
}
.contact form .right {
    float: right;
    width: 46%;
}
.contact form input,
.contact form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #eee;
    cursor: pointer;
}
.contact form input[type = 'submit'] {
    color: white;
    background-color: var(--main-color);
    padding: 10px;
    cursor: pointer;
    border-color: transparent;
}
.contact form textarea {
    height: 116px;
}
.contact form input:not([type = 'submit']):focus,
.contact form textarea:focus {
    outline: none;
    border: 2px solid var(--main-color);
}
.contact form input:focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder  {
    opacity: 0;
    transition: .6s;
} */
/* end cotact us */

/* start grid system */
@media (min-width : 576px) { /* small devices */
    .container {
        max-width: 540px;
    }
}
@media (min-width : 767px) { /* medium devices */
    .container {
        max-width: 730px;
    }
}
@media (min-width : 992px) { /* Pc - desktops  devices */
    .container {
        max-width: 950px;
    }
}
@media (min-width : 1200px) { /* large devices */
    .container {
        max-width: 1130px;
    }
}
/* end grid system */

/* start footer */
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 20px;
}